<%- include('partials/header') -%>
    <div class="rf-container rf-mb-5w">
        <%- include('partials/breadcrumbs', { items: [ { label: 'Accueil' , url: '/' }, { label: 'Foire Aux Questions'
            }, ], } ) -%>
            <h2>Foire Aux Questions (FAQ)</h2>
            <div>
                Vous êtes nombreux à nous poser des questions ! Voici les réponses aux plus fréquentes.
            </div>
            <div>
                <div class="faq-question">
                    <h3>1. Je suis volontaire pour une mission ? Comment cela se passe-t-il ?</h3>
                    <p>
                        Je prends connaissance des fiches de postes correspondantes aux missions proposées sur la
                        plateforme : <a
                            href="https://volontaires.fonction-publique.gouv.fr/">https://volontaires.fonction-publique.gouv.fr/</a>
                    <ul>
                        <li>La fiche de poste « conseiller contact tracing » : « cette mission <b>s’exerce en
                                présentiel</b> dans les locaux de la CPAM la plus proche de votre domicile pour tracer
                            les cas contacts COVID-19, avec remise aux volontaires du matériel informatique et
                            téléphonique.</li>
                        <li>La fiche de poste « conseiller maintien lien social » : cette mission mise en place par la
                            CNAV <b>s’exerce à votre domicile</b>, pour maintenir le contact avec des personnes âgées
                            préalablement identifiées, ce qui suppose que vous disposiez d’une ligne internet et d’un
                            téléphone avec forfait illimités pour les appeler.</li>
                        <li>Les postes proposés par le ministère des solidarités et de la santé. </li>
                        <li>D’autres missions vont venir compléter ces offres. Vous êtes donc invité(e) à consulter
                            régulièrement la plateforme pour y trouver la mission qui pourrait le mieux vous
                            correspondre.</li>

                    </ul>
                    </p>

                </div>
                <div class="faq-question">
                    <h3>2. Que dois-je savoir avant de candidater ?</h3>
                    <p><b>- Je vérifie que je remplis les conditions requises :</b>
                    <ul>
                        <li>
                            Je dois être agent public : fonctionnaire titulaire ou stagiaire ou agent contractuel en CDI
                            et en position d’activité.
                        </li>
                        <li>
                            Je dois pouvoir être mis à disposition par mon administration.
                        </li>
                    </ul>

                    </p>
                    <p>
                        <u>Deux situations peuvent se présenter :</u><br />

                        La mise à disposition intervient à titre gratuit par signature d’une convention entre
                        l’administration d’origine et le service d’accueil dans les cas suivants :
                        <br />
                    <ul>
                        <li>
                            <u>Si je suis fonctionnaire titulaire de l’Etat</u> : je suis mis à disposition sous la
                            forme d’une convention de mise à disposition sans remboursement vers une autre fonction
                            publique.
                        </li>
                        <li>
                            <u>Si je suis fonctionnaire titulaire de la fonction publique territoriale</u>: je peux être
                            mis à disposition sous la forme d’une convention de mise à disposition sans remboursement
                            vers la fonction publique hospitalière pendant la durée de l'état d'urgence sanitaire.
                        </li>
                        <li>
                            <u>Si je suis fonctionnaire titulaire de la fonction publique hospitalière</u> : <b>je peux
                                être mis à disposition sous la forme d’une convention de mise à disposition sans
                                remboursement vers un établissement de la fonction publique hospitalière pendant la
                                durée de l’état d’urgence sanitaire.</b>
                        </li>
                    </ul>
                    </p>
                    <p>
                        Si vous relevez d’une autre situation (si vous êtes fonctionnaire stagiaire en scolarité par
                        exemple) le renfort auprès d’une autre administration est matérialisé par un ordre de mission.
                        <br />
                        Les agents en situation de détachement, de congé parental, en disponibilité, en congé CET ou à
                        la retraite ne sont pas éligibles au dispositif de renfort. Ils peuvent cependant apporter leur
                        aide en postulant comme bénévoles sur l’une des missions proposées dans le cadre de la réserve
                        civique sur la plateforme : <br />
                        <a href="https://www.jeveuxaider.gouv.fr/">https://www.jeveuxaider.gouv.fr/</a>

                    </p>
                </div>
                <div class="faq-question">
                    <h3>3. J’alerte immédiatement mon supérieur hiérarchique qui doit me donner son accord : </h3>
                    <p>
                        pour se faire, je lui remets la plaquette disponible sur le site et <b>je recueille son accord
                            écrit</b> (un modèle est disponible sur la plateforme).
                    </p>
                </div>
                <div class="faq-question">
                    <h3>
                        4. Comment s’organise concrètement la mission ?
                    </h3>
                    <p>
                        Je dois pouvoir me rendre disponible <b>sur mon temps de travail habituel</b>. Selon les
                        missions, le renfort peut être apporté à temps plein ou à temps partiel. Avec votre accord (et
                        celui de votre hiérarchie), la mission peut éventuellement être prolongée.
                    </p>
                </div>
                <div class="faq-question">
                    <h3>5. Quels seront mes horaires et mon régime de travail ?</h3>
                    <p>
                        Je conserve mes horaires habituels et mon régime de travail à temps plein ou temps partiel.
                    </p>

                </div>
                <div class="faq-question">
                    <h3>6. Comment vais-je être rémunéré ?</h3>
                    <p>
                        Ma rémunération est inchangée.
                        <br /><br />
                        Le travail du samedi et du dimanche ne doit en principe pas intervenir pour des agents
                        travaillant habituellement du lundi au vendredi. Si vous êtes volontaires pour travailler
                        pendant le week-end, aucune rémunération notamment en heures supplémentaires ne sera versée. La
                        journée de repos accordé à ce titre interviendra dans ce cas sur le temps de travail à réaliser
                        dans votre administration d’origine.
                        <br /><br />
                        Les frais supplémentaires ne sont pas remboursés dans le cadre d’une mission avec convention de
                        mise à disposition.
                    </p>
                </div>

                <div class="faq-question">
                    <h3>7. Y a-t-il des contraintes spécifiques ?</h3>
                    <p>
                        Si la mission comporte des contraintes spécifiques (travail du W.E, horaires décalés, astreintes
                        travail à domicile avec votre propre matériel…) ces éléments vous seront décrits au sein de la
                        fiche de mission et pourront être précisés par l’employeur qui propose la mission.
                        <br /><br />
                        <u>Exemple de la mission proposée par la CPAM :</u> la mission intervient en présentiel au sein
                        des locaux des CPAM pendant la plage horaire 8h30-18H30 et peut s’étendre (avec votre accord) au
                        samedi et au dimanche. Le matériel informatique et téléphonique est fourni par la CNAM qui se
                        charge également de la formation initiale de deux jours.

                    </p>
                </div>
                <div class="faq-question">
                    <h3>8. Puis je mettre fin à la mission ?</h3>
                    <p>
                        Je dois m’engager à respecter les conditions de la mise à disposition et je ne suis susceptible
                        d’y mettre fin que pour circonstances individuelles exceptionnelles.



                    </p>
                </div>
                <div class="faq-question">
                    <h3>9. Que doit savoir mon responsable avant de prendre une décision ?</h3>
                    <p>
                        Il convient de l’informer de tous les éléments qui lui permettront de prendre des dispositions
                        pour limiter l’impact de votre absence.
                        <br /><br />
                        La plupart des éléments sont disponibles sur le site. Il peut obtenir un complément
                        d’information en se mettant en relation avec l’employeur qui propose la mission.

                    </p>
                </div>
                <div class="faq-question">
                    <h3>10. Si mon responsable hiérarchique donne son accord, que se passe-t-il ?</h3>
                    <p>
                        Une fois l’accord hiérarchique acquis, je remplis le formulaire de candidature sur le site <a
                            href="https://volontaires.fonction-publique.gouv.fr">https://volontaires.fonction-publique.gouv.fr</a>
                        <br /><br />
                        Votre candidature sera transmise pour validation au service concerné et vous recevrez un accusé
                        de réception.
                        <br /><br />
                        Une fois validée, l’organisme prendra contact avec votre supérieur hiérarchique indiqué sur le
                        formulaire pour le suivi du dossier.
                        <br /><br />
                        Dans le cas de l’établissement d’une convention de mise à disposition c’est le service des
                        Ressources Humaines qui sera saisi: c’est pour cette raison qu’il est nécessaire que ses
                        <b>coordonnées doivent apparaitre dans le formulaire de candidature.</b>
                        <br /><br />
                        La mise à disposition ou l’ordre de mission apportent plusieurs garanties :
                    <ul>
                        <li>le maintien de la rémunération versée sur le poste actuel</li>
                        <li>Le maintien du régime de travail (horaires, temps et quotité de travail) : </li>
                        <li>La conservation de la couverture sociale de l’employeur (maladie et accidents)</li>
                    </ul>
                    Suite aux échanges entre les services, les conditions d’engagement pour une mission sont validées.
                    <br /><br />
                    Il est alors signé une convention de mise à disposition entre les employeurs ou à l’établissement
                    d’un ordre de mission.
                    <br /><br />
                    Cette phase terminée, une copie du document signé vous est remise et la mission peut démarrer à la
                    date convenue.




                    </p>
                </div>
                <div class="faq-question">
                    <a href="#accord-de-ma-hiérarchie">
                        <h3 id="accord-de-ma-hiérarchie">
                            11. Comment obtenir l'accord de mon supérieur hiérarchique ?
                        </h3>
                    </a>
                    <p>
                        Votre supérieur hiérarchique doit assurer la continuité de son service,
                        qui pourrait être perturbée par votre absence lorsque vous être sur la
                        mission Volontaires. C'est pourquoi nous avons besoin de son accord pour
                        valider la mise à disposition.
                    </p>
                    <p>
                        Pour lui présenter la démarche, vous pouvez lui envoyer (ou lui
                        imprimer) cette plaquette de présentation :
                    </p>
                    <a class="rf-btn rf-btn--secondary btn--secondary--temporary-fix"
                        href="/documents/plaquette_pour_superieur.pdf" target="_blank" rel="noopener noreferrer">
                        Voir la plaquette de présentation
                    </a>
                    <p>
                        Pour le dossier de candidature, nous vous demanderons une lettre
                        d'accord remplie par votre supérieur hiérarchique. Nous vous proposons
                        un modèle de lettre à faire remplir :
                    </p>
                    <a class="rf-btn rf-btn--secondary btn--secondary--temporary-fix"
                        href="/documents/accord_hierarchique.docx" target="_blank" rel="noopener noreferrer">
                        Voir le modèle de lettre d'accord
                    </a>
                </div>
                <div class="faq-question">
                    <h3>12. Que doit savoir mon responsable avant de prendre une décision ?</h3>
                    <p>
                        <b>Il doit avoir connaissance des informations suivantes :</b>
                    <ul>
                        <li>Les deux missions supposent un engagement de deux jours au minimum par semaine pendant un
                            mois
                            et
                            peuvent être renouvelées ;</li>
                        <li>Ces jours sont le plus souvent fixes, sauf cas particulier ;</li>
                        <li>Les conditions d’exercice de la mission sont définies par une convention de mise à
                            disposition
                            signée
                            entre votre service et la CNAV ou CPAM, ce qui me garantit :
                            <ul>
                                <li>Le maintien de la rémunération versée sur mon poste actuel, mais les frais
                                    supplémentaires
                                    engagés au titre de la mission ne seront pas remboursés</li>
                                <li>Le maintien de mon régime de travail (horaires, temps et quotité de travail) :
                                    Pour la CPAM : la plage horaire à couvrir est 8h30-18H30 sur la semaine avec weekend
                                    inclus.
                                    Seuls les agents exerçant habituellement pendant le weekend auront vocation à le
                                    faire,
                                    avec les
                                    modalités de récupération applicables dans leur service d’origine. Les autres agents
                                    souhaitant
                                    le faire n’auront pas de rémunération complémentaire mais bénéficieront des deux
                                    jours
                                    de repos
                                    prévus.
                                </li>
                                <li>La conservation de la couverture sociale de l’employeur (maladie et accidents)</li>
                                <li>La vérification de l’équipement que je dois fournir pour la Mission CNAV à mon
                                    domicile
                                    ou celui
                                    fourni par la CPAM (mission CPAM)</li>
                                <li>La formation est prise en charge par l’organisme d’accueil</li>
                                <li>L’engagement pour la mission est subordonné au respect des conditions d’exercice de
                                    la
                                    mission
                                    et sa durée sauf circonstances personnelles très exceptionnelles et non liées à des
                                    nécessités
                                    de service.</li>
                            </ul>

                            Si mon employeur a besoin de compléments d’information, il s’adresse à la personne référente
                            RH
                            de son
                            service.
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="faq-question">
                    <a href="#cadre-juridique">
                        <h3 id="cadre-juridique">
                            13. Je suis RH, quel est le cadre juridique de la mission ?
                        </h3>
                    </a>
                    <p>Il s'agit d'une mise à disposition de l'agent.</p>
                    <p>
                        Nous proposons une convention-type comme point de départ, et elle pourra
                        être discutée entre les RH des deux organismes (organisme initial de
                        l'agent et organisme receveur).
                    </p>
                    <a class="rf-btn rf-btn--secondary btn--secondary--temporary-fix"
                        href="/documents/convention_MAD_CPAM.docx" target="_blank" rel="noopener noreferrer">
                        Voir la convention-type pour la mission CPAM
                    </a>
                    <a class="rf-btn rf-btn--secondary btn--secondary--temporary-fix"
                        href="/documents/convention_MAD_CNAV.docx" target="_blank" rel="noopener noreferrer">
                        Voir la convention-type pour la mission CNAV
                    </a>
                    <a class="rf-btn rf-btn--secondary btn--secondary--temporary-fix"
                        href="/documents/ordre-de-mission.doc" target="_blank" rel="noopener noreferrer">
                        Voir l'ordre de mission
                    </a>
                </div>
                <div class="faq-question">
                    <h3>14. Qui est à l'initiative de ce dispositif ?</h3>
                    <p>
                        Le <b>Ministère de la Transformation et de la Fonction Publique</b>, en partenariat avec la
                        <b>Direction
                            Générale de l'Administration et de la Fonction Publique</b> (DGAFP) a lancé ce dispositif de
                        mise
                        à disposition d'agents pour répondre à la crise sanitaire.
                    </p>
                    <p>
                        Note du Ministère de la Transformation et de la Fonction Publique lançant le dispositif :
                    </p>
                    <a class="rf-btn rf-btn--secondary btn--secondary--temporary-fix"
                        href="/documents/note_ministerielle-2020-11-17.pdf" target="_blank" rel="noopener noreferrer">
                        Télécharger la note ministérielle
                    </a>
                    <p>
                        Note n˚ 2GPAP/2021/ de Nathalie Colin, Directrice Générale de l'Administration et de la Fonction
                        Publique
                        (DGAFP), aux secrétaires généraux et DRH de l'Etat, précisant le dispositif :
                    </p>
                    <a class="rf-btn rf-btn--secondary btn--secondary--temporary-fix"
                        href="/documents/note_DGAFP_2021-22-01.pdf" target="_blank" rel="noopener noreferrer">
                        Télécharger la note DGAFP
                    </a>
                </div>
            </div>
            <div class="faq-question">
                <h3>15. Vous ne trouvez pas l'info que vous cherchez sur le site ?</h3>
                <p>Contactez-nous sur <b>
                        <%= contactEmail %>
                    </b>
                </p>
                <a title="Contactez-nous"
                    href="<%= makeMailto(contactEmail, 'Je n\'ai pas trouvé de réponse à ma question !') %>"
                    target="_blank" rel="noopener noreferrer"
                    class="rf-btn rf-btn--secondary btn--secondary--temporary-fix rf-text--lg">
                    Contactez-nous
                </a>
            </div>
    </div>
    <%- include('partials/footer') -%>