<%- include('partials/header') -%>
  <div class="rf-container">
    <%- include('partials/breadcrumbs', { items: [ { label: 'Accueil' , url: '/' }, { label: missionTitle }, ], } ) -%>

      <div class="rf-grid-row rf-grid-row--center">
        <img src="/static/images/organisations/logo-cpam-fullscreen.png" title="Logo Assurance Maladie"
          style="max-height: 250px" />
      </div>
      <div id="mission-title">
        <h1>
          <%= missionTitle %>
        </h1>
      </div>
      <%- include('partials/mission-summary-CPAM') -%>
        <div id="mission-description">
          <div id="mission-description-context">
            <h2>Contexte</h2>
            <p>
              Dans le cadre de la stratégie Tester, Alerter, Protéger, l’Assurance
              maladie est en charge, depuis le 11 mai dernier, du dispositif de
              contact tracing qui doit permettre de contacter rapidement les patients
              diagnostiqués positifs au COVID, de mettre en place toutes les mesures
              pour les prendre en charge et enfin d'identifier très rapidement toutes
              les personnes ou situations à risque dans leur entourage (leurs proches
              et l'ensemble des personnes avec qui elles ont été en contact
              rapproché).
            </p>
            <p>Ce traçage se réalise via l'outil Contact Covid.</p>
            <p>
              Pour cela, le médecin traitant démarre avec le patient détecté positif
              le traçage auprès de son entourage familial (niveau 1) puis la
              plateforme recense les personnes ayant eu des contacts à risque avec le
              patient (niveau 2). En cas de clusters ou situation complexe, l'Agence
              Régionale de Santé est saisie (niveau 3).
            </p>
          </div>
          <div id="mission-description-activities">
            <h2>Mission/Activités</h2>
            <p>Le(a) candidat(e) retenu(e) assurera les missions suivantes :</p>
            <ul>
              <li>
                Contacter le patient 0 (patient positif) afin de retracer ses « cas
                contacts à risque », dans les 4h suivant la création de la fiche du
                patient;
              </li>
              <li>
                Contacter l'ensemble des cas de contacts dans les 24h suivant la
                création de la fiche : le conseiller informe sur l'exposition au virus
                et donne ses préconisations (isolement, arrêt de travail, réalisation
                d'un test...) ;
              </li>
              <li>
                Alerter son référent et/ou sa hiérarchie si un cluster potentiel
                apparaît et si le patient ou sa personne contact est un personnel
                soignant ;
              </li>
              <li>Assurer un reporting sur les fiches de saisies ;</li>
              <li>Participer aux réunions d'équipe.</li>
            </ul>
          </div>
          <div id="mission-description-skills">
            <h2>Compétences</h2>
            <div>
              <h3>Implication</h3>
              <ul>
                <li>
                  Capacité à travailler en équipe et à partager ses savoirs et
                  savoir-faire
                </li>
                <li>Capacité à donner une image positive du dispositif</li>
                <li>
                  Bonne capacité d'adaptation aux fluctuations de la charge de travail
                </li>
                <li>Capacité d’autonomie et réactivité</li>
              </ul>
            </div>
            <div>
              <h3>Apprentissage</h3>
              <ul>
                <li>
                  Capacité à maîtriser le processus métiers et ses fréquentes
                  actualisations.
                </li>
                <li>Rigueur d’analyse.</li>
                <li>
                  Capacité à maîtriser les outils informatiques nécessaires à
                  l’activité
                </li>
              </ul>
            </div>
            <div>
              <h3>Relationnel</h3>
              <ul>
                <li>
                  Qualités relationnelles développées, bienveillance, sens de l'écoute
                  et de la reformulation
                </li>
                <li>Capacité à adapter son langage à son interlocuteur</li>
                <li>Capacité à créer un climat de confiance</li>
                <li>
                  Capacité à gérer une situation relationnelle conflictuelle et/ou
                  délicate
                </li>
                <li>
                  Capacité à adapter son argumentation en fonction des situations
                </li>
              </ul>
            </div>
          </div>
          <div id="mission-description-training">
            <h2>Formation</h2>
            <p>Une formation sera dispensée sur site dès l'intégration.</p>
          </div>
          <div id="mission-description-specific-conditions">
            <h2>Conditions particulières</h2>
            <p>
              L'activité nécessite une forte disponibilité horaire conformément à la
              mission de service et la nécessité de continuité (travail en semaine et
              weekend).
            </p>
            <ul>
              <li>Type de contrat : mise à disposition</li>
              <li>Durée : 1 mois renouvelable (engagement préférable sur 2 mois)</li>
              <li>
                Horaires : 8h30 à 18h30 au moins deux jours par semaine – samedi et
                dimanche compris (par roulement). Le repos hebdomadaire des salariés
                travaillant le samedi et le dimanche est assuré, dans le respect du
                droit de travail avec deux jours consécutifs de repos.
              </li>
              <li>
                Localisation : dans la caisse primaire d'assurance maladie de votre
                département
              </li>
              <li>
                Conditions d’exercice : présentiel – application des mesures barrières
                et protocole sanitaire
              </li>
            </ul>
            <p>
              Pour les besoins de votre mission, vous serez équipé(e) d’un téléphone,
              d’un ordinateur et d’un accès au réseau de l’Assurance maladie. Vous
              devez vous conformer aux exigences de la politique de sécurité du
              système d’information en vigueur au sein de l’organisme.
            </p>
            <p>
              Pour pouvoir être mis à disposition, vous devez être un agent public
              titulaire ou bien en CDI dans une administration d'Etat.
            </p>
            <%- include('partials/mission-summary-CPAM') -%>
          </div>
          <div>
            Je préviens mon supérieur hiérarchique qui doit me donner son accord, sans quoi la mission ne peut être
            réalisée. (Vous pouvez aller voir dans la Foire Aux Questions : <a
              href="/faq#accord-de-ma-hiérarchie">Comment obtenir l'accord de mon
              supérieur hiérarchique ?</a>)
          </div>
        </div>
        <div id="postuler" class="rf-mb-5w">
          <%- include('partials/apply') -%>


        </div>
        <div class="rf-callout">
          <div class="rf-callout__text">
            <div class="rf-container">
              <div class="rf-grid-row rf-grid-row--gutters rf-grid-row--center rf-grid-row--middle ">
                <div class="rf-col" style="text-align: left">
                  <div class="rf-mb-4w rf-mb-md-0">
                    Vous avez des questions sur cette mission ? Contactez la CPAM à
                    <span class="rf-mx-1v">
                      <b>
                        <%= contactCPAMEmail %>
                      </b>
                    </span>
                  </div>
                  <a title="Contactez-nous" href="<%= makeMailto(contactCPAMEmail, 'Bonjour !') %>" target="_blank"
                    rel="noopener noreferrer"
                    class="rf-btn rf-btn--secondary btn--secondary--temporary-fix rf-text--lg">
                    Contactez-nous
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
  </div>


  <%- include('partials/footer') -%>